
<script setup>
import { ref } from "vue";

let mass = ref([
  {
    "name": "foo1",
    "value": "bar1",
  },
  {
    "name": "foo2",
    "value": "bar2",
  },
  {
    "name": "foo3",
    "value": "bar3",
  },
  {
    "name": "foo4",
    "value": "bar4",
  },
  {
    "name": "foo5",
    "value": "bar5",
  },
]);

const container = ref(false)


//хотел получить выбранный объект
function selected(index) {
  mass.index
}


//заменяет значение из инпута
function addNewValue() {
  this.value = this.input
}

//не получилось остановить обработчик событий при развертке, чтобы на форме не было @click, хотел чтобы именно клин на внешней области сворачивало
function stopDefAction(evt) {
  evt.preventDefault()
  evt.stopPropagation();
}

</script>

<template>
  <div class="exel" v-for="(item, key) in mass" @click="container = !container">
    Объект № {{ key }}


    <div class="form" v-if="container">

      <div>
        Имя: {{ item.name }} <br> Значение
        <input type="text" v-model="item.value" @keypress.enter="addNewValue">
      </div>

    </div>

  </div>
</template>




<style scoped>
.exel {
  border: 2px black solid;
  margin: 30px;
}

.form {
  color: white;
  font-size: 24px;
  font-weight: 500;

  background-color: cadetblue;
  border: 2px solid white;
  border-radius: 20px;

  padding: 20px;
  margin: 40px;
}
</style>
