<script setup>
import { ref } from "vue";

let mass = ref([
  {
    "name": "foo1",
    "value": "bar1",
  },
  {
    "name": "foo2",
    "value": "bar2",
  },
  {
    "name": "foo3",
    "value": "bar3",
  },
  {
    "name": "foo4",
    "value": "bar4",
  },
  {
    "name": "foo5",
    "value": "bar5",
  },
]);

let shower = ref(false);

function showerInput(index) {
  shower = true
}

</script>



<template>
  <h2>Массив</h2>
  <div class="title" v-for="item, index in mass" @click="shower = !shower">
    <span> Объект {{ item.name }} </span> <br>

    <input class="title-form" v-if="shower" v-model="mass[index].value">
  </div>
</template>




<style scoped>
.title {
  width: 250px;
  font-size: 30px;
  margin-bottom: 50px;

  border: 2px solid black;
  text-align: center;
}

.title-form {
  width: 200px;
  font-size: 30px;

  margin: 40px 0px;

  border: 1px dotted rgb(250, 243, 243);
}
</style>