

<script setup lang="ts">
import { ref } from 'vue';
import { useUserStore } from '../../../stores/UserStore';
import { useShopStore } from '../../../stores/ShopStore';


const store = useUserStore()
const shop = useShopStore()

const container = ref(false)
const accessories = ref(false)
const fertilizer = ref(false)



</script>

<template>
    <p>Shop</p>
    <div class="contaoner-title" @click="container = !container">
        <span>container</span>
    </div>

    <div class="container-body" v-if="container">
        <div v-for="(item, index) in shop.getProductsListByType('container')" :key="index">
            <span><b> {{ item.title }}</b></span> <span>-- ${{ item.price }}</span>
            <button @click="">Купить</button>
        </div>
    </div>

    <div class="contaoner-title contaoner-title_red" @click="accessories = !accessories">
        <span>accessories</span>
    </div>
    <div class="container-body" v-if="accessories">

        <div v-for="(item, index) in shop.getProductsListByType('accessories')" :key="index">
            <span><b> {{ item.title }}</b></span> <span>-- ${{ item.price }}</span>
            <button @click="">Купить</button>
        </div>
    </div>
    <div class="contaoner-title contaoner-title_green" @click="fertilizer = !fertilizer">
        <span>fertilizer</span>
    </div>

    <div class="container-body" v-if="fertilizer">

        <div v-for="(item, index) in shop.getProductsListByType('fertilizer')" :key="index">
            <span><b> {{ item.title }}</b></span> <span>-- ${{ item.price }}</span>
            <button @click="">Купить</button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.contaoner-title {
    background-color: gray;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0 0 15px 0;
}

.contaoner-title_red {
    background-color: rgb(170, 35, 35);
}

.contaoner-title_green {
    background-color: rgb(62, 170, 35);
}

.container-body {
    padding: 20px;
    background-color: aliceblue;
    color: black;
    margin: 0 15px 15px 15px;
}
</style>
